[user]
	name = Dave Turnbull
	email = dave@redcordial.org
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  st = status
  web = !open "http://ci/gitweb/?p=ssv.git"
  mergy = !sh -c 'git cherry -v HEAD $0 | grep ^+'
[branch]
	autosetupmerge = true
