*.swp
.xmonad/xmonad-i386-linux
.xmonad/xmonad-i386-darwin
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.vim/view
bin/e1a*
bin/staging*
bin/PRAUE1BKMRS01
bin/PRAUE1CKMRS01
bin/puppet
bin/puppetmaster
bin/trturbinado
bin/app
bin/console
bin/np
bin/routes
bin/todo
bin/mitter
bin/xmobar
.xmonad/history
.vimperator/info/
.vim/doc/tags
bin/backup
tags
.DS_Store
bin/capinfos
bin/dftest
bin/dumpcap
bin/editcap
bin/idl2wrs
bin/mergecap
bin/randpkt
bin/rawshark
bin/text2pcap
bin/tshark
bin/wireshark
.emacs.d/auto-save-list/
*.elc
/.emacs.d/vendor/rdebug/.svn/props/
/.emacs.d/vendor/rdebug/.svn/tmp/
/.emacs.d/vendor/rdebug/test/.svn/prop-base/
/.emacs.d/vendor/rdebug/test/.svn/props/
/.emacs.d/vendor/rdebug/test/.svn/tmp/
/.emacs.d/places
.emacs.d/vendor/nxhtml/etc/schema/xhtml-loader.rnc
/.emacs.d/url/
/.emacs.d/vendor/nxhtml/etc/schema/xhtml-loader.rnc~
