[submodule ".vim/vim-ruby"]
	path = .vim/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/vim-rails"]
	path = .vim/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/vim-fugitive"]
	path = .vim/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".emacs.d/vendor/rsense"]
	path = .emacs.d/vendor/rsense
	url = git://github.com/m2ym/rsense.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/vendor/yaml-mode"]
	path = .emacs.d/vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
