*.swp
.xmonad/xmonad-i386-linux
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.vim/view
bin/e1a*
bin/staging*
bin/PRAUE1BKMRS01
bin/PRAUE1CKMRS01
bin/puppet
bin/puppetmaster
bin/trturbinado
