[user]
	name = David Turnbull
	email = dturnbull@arbor.net
	signingkey = 271D43AD

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
  st = status
  l = log --graph --all --pretty=format:'%Cred%h%Creset - %an %Cgreen%cr%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
  ls = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen%cr%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative --stat
  br = "!git branch -a --no-merged | grep -v -f ~/.gitmergeignore | grep -v HEAD | while read x; do printf \\\\033[31m%s\\\\033[0m\\\\n $x; git --no-pager log -3 --pretty=oneline --abbrev-commit ..$x; echo; done"
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  b = "!git checkout origin/$1 -b"
  cu = "!git_clean"

[branch]
	autosetupmerge = true

[core]
	excludesfile = ~/.gitignore

[merge]
	tool = vimdiff
[github]
	user = dsturnbull
[push]
	default = simple
[diff]
	algorithm = patience
