[submodule ".emacs.d/vendor/rsense"]
	path = .emacs.d/vendor/rsense
	url = git://github.com/m2ym/rsense.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/vendor/yaml-mode"]
	path = .emacs.d/vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/vendor/cucumber"]
	path = .emacs.d/vendor/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "pysty"]
	path = pysty
	url = http://github.com/gak/pysty.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "ondir"]
	path = ondir
	url = git://github.com/alecthomas/ondir.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "tmux-MacOSX-pasteboard"]
	path = tmux-MacOSX-pasteboard
	url = git://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fish/z-fish.git"]
	path = fish/z-fish.git
	url = git://github.com/sjl/z-fish.git
